.footer {
  position: relative;
  left: 0;
  top: 500px;
  width: 100%;
  background-color: rgb(103 83 83);
  height: 160px;
}
.footer nav {
  color: rgb(248, 248, 250);
  line-height: 40px;
  font-size: 15px;
  text-align: center;
}
.footer nav h5 {
  display: flex;
  justify-content: flex-end;
  padding: 0px 10px;
  padding-right: 40px;

}
.footer nav ul {
  display: flex;
  justify-content: flex-end;
}
.footer nav ul li {
  list-style: none;
  padding: 0px 10px;
}
.footer nav ul li a{
  font-size: 20px;
  color: white;
}

