.right-menu {
  display: flex;
  width: 200px;
  margin: 0 auto;
  margin-right: 0px;
  background-color: #060b26;
  color: white;
  height: 100vh;
  justify-content: center;
  margin-top: -15px;
}

.right-menu ul {
  padding: 10px 15px;
  line-height: 43px;
  list-style: none;
  font-size: 16px;
  font-weight: bold;
}
.right-menu li {
  height: 40px;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid grey;
}

